<a href="https://colab.research.google.com/github/latkow/materials/blob/main/szkolenie_20210705.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sekcja: instalacja pakietów
Zainstalujemy pakiet `survey` oraz `vcd` (Visualisation of Categorical Data)

Załadujmy pakiety na potrzeby dzisiejszej pracy.

In [2]:
install.packages('survey')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘minqa’, ‘numDeriv’, ‘mitools’

In [3]:
install.packages("vcd")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘zoo’, ‘lmtest’

In [4]:
library(survey) # wykorzystamy do post-stratyfikacji, kalibracij
library(vcd) # do wsp. korelacji dla cech jakościowych
library(tidyverse) ## przetwarzanie i wizualizacja danych

Loading required package: grid

Loading required package: Matrix

Loading required package: survival


Attaching package: ‘survey’


The following object is masked from ‘package:graphics’:

    dotchart


Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.6
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ tidyr::expand() masks Matrix::expand()
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
✖ tidyr::pack()   masks Matrix::pack()
✖ tidyr::unpack() masks Matrix::unpack()

Wczytajmy dane
bkl - badanie kapitału ludzkiego

zmiennymi celu ($Y$) są dla nas kolumny zaczynające się od `komp_` czyli różne kompetencje. Natomiast zmiennymi objaśniającymi/pomocniczymi ($X$) to zawód, województwo i sekcja pkd.

In [5]:
bkl <- readRDS('bkl.rds')
head(bkl)

      id     zawod1 zawod2 zawod6 woj pkd komp_techniczne komp_matematyczne
42425 626307 5      51     514202 04  M   0               0
42426 626305 5      51     514204 12  M   0               0
42427 617154 7      71     713104 14  C   0               0
42428 617155 7      71     713100 14  C   0               0
42429 632044 3      33     332203 24  C   0               0
42430 613019 3      33     332101 14  K   0               0
      komp_kulturalne komp_komputerowe komp_kognitywne komp_kierownicze
42425 1               0                0               0
42426 0               0                0               0
42427 0               0                0               0
42428 0               0                0               0
42429 0               0                0               0
42430 0               0                0               0
      komp_interpersonalne komp_indywidualne komp_fizyczne komp_dyspozycyjne
42425 0                    1                 0             0
42426 0                    0                 0             0
42427 0                    0                 0             0
42428 0                    0                 0             0
42429 1                    0                 1             0
42430 1                    1                 0             0
      komp_biurowe
42425 0
42426 0
42427 0
42428 0
42429 0
42430 0

In [9]:
dim(bkl)

[1] 12904    17

Baniem, które chcemy wykorzystać do korektu będów nielosowych w BKL będzie badanie Popyt na Pracę GUS.

In [8]:
popyt <- readRDS("popyt.rds")
head(popyt)

  id_popyt                                 woj waga sektor klasa pkd zawod1
1 1da98b1d90d55a45173fbf52273388d023f88bda 30  18   2      M     J   3
2 ba9c01a6d5941fb21c6d85d5abee6714d5636ee4 10   1   2      D     C   8
3 772ab1f561648f4125d0432456225d74a083b5bb 22  33   2      M     I   5
4 af0b53b2f75d7edf652af5e3f65553641f1f587a 14   1   2      D     Q   4
5 ab7c3795293f57e4d68f8638878f0a9278e3936a 30   1   1      D     C   7
6 fd8b0d69ae13f2d1baee41f0f69a7da82be04137 10   1   1      S     G   2
  wakaty
1  1
2 10
3  5
4  3
5  6
6  1

In [10]:
dim(popyt)

[1] 10422     8

In [11]:
sum(popyt$waga) # sumowanie do liczby podmiotów ze zgłoszonymi wolnymi miejscami pracy

[1] 66021

In [12]:
c("Liczba podmiotów" = sum(popyt$waga), "Liczba zgłoszonych wakatów" = sum(popyt$waga* popyt$wakaty))

          Liczba podmiotów Liczba zgłoszonych wakatów
                     66021                     155373

## Sprawdzamy zmienne X i Y

Sprawdźmy jak dobrze skorelowane są X (czyli pk, zawod1, woj) ze zmiennymi celu Y (kompetencje komputerowe i interpersonalne)

In [15]:
tab1a <- xtabs(~ komp_komputerowe + pkd, data=bkl)
tab1b <- xtabs(~ komp_komputerowe + zawod1, data=bkl)
tab2a <- xtabs(~ komp_interpersonalne + pkd, data=bkl)
tab2b <- xtabs(~ komp_interpersonalne + zawod1, data=bkl)

## w pakiecie vsd mamy funkcję assocstats, która liczby wsp. V-Cramer'a
assocstats(tab1a) ## 0.304 
assocstats(tab1b) ## 0.288
assocstats(tab2a) ## 0.274
assocstats(tab2b) ## 0.352

                    X^2 df P(> X^2)
Likelihood Ratio 1173.2 16        0
Pearson          1189.5 16        0

Phi-Coefficient   : NA
Contingency Coeff.: 0.291
Cramer's V        : 0.304

                    X^2 df P(> X^2)
Likelihood Ratio 1185.9  7        0
Pearson          1073.9  7        0

Phi-Coefficient   : NA
Contingency Coeff.: 0.277
Cramer's V        : 0.288

                     X^2 df P(> X^2)
Likelihood Ratio 1059.85 16        0
Pearson           969.11 16        0

Phi-Coefficient   : NA
Contingency Coeff.: 0.264
Cramer's V        : 0.274

                    X^2 df P(> X^2)
Likelihood Ratio 1659.5  7        0
Pearson          1599.2  7        0

Phi-Coefficient   : NA
Contingency Coeff.: 0.332
Cramer's V        : 0.352

## Post-stratyfikacja
Do post-stratyfikacji potrzebujemy wartości globalnych dotyczących liczby wakatów. Na potrzeby tego przykłądu wykorzystamy dwie zmienne: sekcję PKD (`pkd`) oraz kod zawodu (`zawod1`).

Aby przypisać wagi do zbioru `bkl` wykorzystamy funkcję z pakiety `tidyverse`, a dokładnie funkcję `count` oraz `left_join`.

Post-stratyfikację dokonamy w dwóch krokach:
1. z wykorzystaniem funkcji `count` wyznaczymy liczbę wakatów wg sekcji PKD oraz zawodów,
2. dołączymy tę informację do zbioru `bkl` i wykorzystamy do estymacji.

In [17]:
wartosci_globalne <- popyt %>% count(pkd, zawod1 = as.character(zawod1), wt = waga * wakaty, name ="total")
wartosci_globalne

    pkd zawod1 total
1   A   2         22
2   A   3         24
3   A   4          8
4   A   5         37
5   A   7         85
6   A   8         54
7   A   9        258
8   B   1         10
9   B   2         66
10  B   3          4
11  B   4         21
12  B   7         53
13  B   8        101
14  C   1        523
15  C   2       2806
16  C   3       1737
17  C   4        914
18  C   5        368
19  C   7      20686
20  C   8       8631
21  C   9       1300
22  D   1         15
23  D   2        240
24  D   3         16
25  D   4         17
26  D   5         15
27  D   7        117
28  D   8         85
29  D   9          4
30  E   1         49
⋮   ⋮   ⋮      ⋮
117 P   3       135
118 P   4       206
119 P   5       122
120 P   7        51
121 P   8        11
122 P   9       296
123 Q   1        36
124 Q   2      3494
125 Q   3       958
126 Q   4       250
127 Q   5       263
128 Q   7        32
129 Q   8        25
130 Q   9       281
131 R   1        28
132 R   2       214
133 R   3       145
134 R   4       131
135 R   5        87
136 R   7        34
137 R   8        21
138 R   9       119
139 S   1        34
140 S   2        86
141 S   3        75
142 S   4       202
143 S   5      1926
144 S   7       105
145 S   8        64
146 S   9       197

drugi krok -- przygotowujemy dane z bkl

In [18]:
bkl_komp <- bkl %>% count(pkd, zawod1, komp_komputerowe)
bkl_inter <- bkl %>% count(pkd, zawod1, komp_interpersonalne)
head(bkl_komp)

  pkd zawod1 komp_komputerowe n
1 C   1      0                244
2 C   1      1                 86
3 C   2      0                818
4 C   2      1                620
5 C   3      0                812
6 C   3      1                349

dołączamy informacje o liczbie wakatów w populacji (zbiór `wartosci_globalne`)

In [25]:
bkl_komp_total <- bkl_komp %>% left_join(wartosci_globalne)
bkl_komp_total

Joining, by = c("pkd", "zawod1")

    pkd zawod1 komp_komputerowe n   total
1   C   1      0                244   523
2   C   1      1                 86   523
3   C   2      0                818  2806
4   C   2      1                620  2806
5   C   3      0                812  1737
6   C   3      1                349  1737
7   C   4      0                 91   914
8   C   4      1                 73   914
9   C   5      0                449   368
10  C   5      1                173   368
11  C   7      0                534 20686
12  C   7      1                 33 20686
13  C   8      0                 66  8631
14  C   8      1                 11  8631
15  C   9      0                 54  1300
16  C   9      1                  2  1300
17  D   1      0                  2    15
18  D   1      1                  2    15
19  D   2      0                 25   240
20  D   2      1                  7   240
21  D   3      0                252    16
22  D   3      1                 53    16
23  D   4      0                  2    17
24  D   4      1                  3    17
25  D   5      0                403    15
26  D   5      1                 83    15
27  E   1      1                  1    49
28  E   2      0                 39    62
29  E   2      1                 22    62
30  E   3      0                  1    93
⋮   ⋮   ⋮      ⋮                ⋮   ⋮
170 Q   2      0                11  3494
171 Q   2      1                 3  3494
172 Q   3      0                15   958
173 Q   3      1                 1   958
174 Q   4      0                 1   250
175 Q   4      1                 2   250
176 Q   5      0                11   263
177 Q   5      1                 1   263
178 Q   8      0                 1    25
179 R   1      0                17    28
180 R   1      1                13    28
181 R   2      0                 5   214
182 R   3      0                 7   145
183 R   3      1                 5   145
184 R   4      0                 8   131
185 R   5      0                43    87
186 R   5      1                 2    87
187 R   9      0                41   119
188 S   1      0                 4    34
189 S   1      1                 4    34
190 S   2      0                10    86
191 S   2      1                17    86
192 S   3      0                14    75
193 S   3      1                 4    75
194 S   4      0                 4   202
195 S   5      0                11  1926
196 S   5      1                 5  1926
197 S   7      0                 1   105
198 S   9      0                 1   197
199 S   9      1                 1   197

In [28]:
bkl_komp_total <- bkl_komp %>% left_join(wartosci_globalne) %>% mutate(waga = total/n)
bkl_inter_total <- bkl_inter %>% left_join(wartosci_globalne) %>% mutate(waga = total/n)
head(bkl_inter_total)

Joining, by = c("pkd", "zawod1")

Joining, by = c("pkd", "zawod1")

  pkd zawod1 komp_interpersonalne n   total waga
1 C   1      0                    143  523  3.657343
2 C   1      1                    187  523  2.796791
3 C   2      0                    478 2806  5.870293
4 C   2      1                    960 2806  2.922917
5 C   3      0                    383 1737  4.535248
6 C   3      1                    778 1737  2.232648

In [30]:
## estymator post-stratyfikacyjny
weighted.mean(bkl_inter_total$komp_interpersonalne, bkl_inter_total$waga)
## estymator naiwny
weighted.mean(bkl_inter_total$komp_interpersonalne, bkl_inter_total$n)
## estymator naiwny wskazuje na nieznaczne przeszacowanie

[1] 0.5735054

[1] 0.6106634

Wykonujemy post-stratyfikację z pakietem `survey`

In [36]:
## dodawanie pseudo wagi
liczba_wakatow <- sum(popyt$waga * popyt$wakaty)
liczba_wakatow

liczba_ofert_bkl <- nrow(bkl)
liczba_ofert_bkl

bkl <- bkl %>% mutate(pseudo_waga = liczba_wakatow / liczba_ofert_bkl)
head(bkl)

[1] 155373

[1] 12904

      id     zawod1 zawod2 zawod6 woj pkd komp_techniczne komp_matematyczne
42425 626307 5      51     514202 04  M   0               0
42426 626305 5      51     514204 12  M   0               0
42427 617154 7      71     713104 14  C   0               0
42428 617155 7      71     713100 14  C   0               0
42429 632044 3      33     332203 24  C   0               0
42430 613019 3      33     332101 14  K   0               0
      komp_kulturalne komp_komputerowe komp_kognitywne komp_kierownicze
42425 1               0                0               0
42426 0               0                0               0
42427 0               0                0               0
42428 0               0                0               0
42429 0               0                0               0
42430 0               0                0               0
      komp_interpersonalne komp_indywidualne komp_fizyczne komp_dyspozycyjne
42425 0                    1                 0             0
42426 0                    0                 0             0
42427 0                    0                 0             0
42428 0                    0                 0             0
42429 1                    0                 1             0
42430 1                    1                 0             0
      komp_biurowe pseudo_waga
42425 0            12.04069
42426 0            12.04069
42427 0            12.04069
42428 0            12.04069
42429 0            12.04069
42430 0            12.04069

Deklarujemy obiekt typy `svydesign` w pakiecie `survey`

In [37]:
bkl_surv <- svydesign(id = ~1, weights = ~ pseudo_waga, data=bkl) ## id = ~1 ifnormuje funkcję, że każdy rekord jest losowany niezależnie (opis schematu losowania)
bkl_surv

Independent Sampling design (with replacement)
svydesign(id = ~1, weights = ~pseudo_waga, data = bkl)

Chcemy oszacować odsetek ofert pracy, w których wystęują kompetencje komputerowe czy interpersonalne

In [39]:
svymean(~komp_komputerowe + komp_interpersonalne, design = bkl_surv)

                        mean     SE
komp_komputerowe     0.34323 0.0042
komp_interpersonalne 0.61066 0.0043

In [41]:
summary(bkl)

       id            zawod1             zawod2             zawod6
 Min.   :601002   Length:12904       Length:12904       Length:12904
 1st Qu.:610334   Class :character   Class :character   Class :character
 Median :623138   Mode  :character   Mode  :character   Mode  :character
 Mean   :622935
 3rd Qu.:634203
 Max.   :647117
     woj                pkd            komp_techniczne  komp_matematyczne
 Length:12904       Length:12904       Min.   :0.0000   Min.   :0.00000
 Class :character   Class :character   1st Qu.:0.0000   1st Qu.:0.00000
 Mode  :character   Mode  :character   Median :0.0000   Median :0.00000
                                       Mean   :0.0444   Mean   :0.00341
                                       3rd Qu.:0.0000   3rd Qu.:0.00000
                                       Max.   :1.0000   Max.   :1.00000
 komp_kulturalne  komp_komputerowe komp_kognitywne komp_kierownicze
 Min.   :0.0000   Min.   :0.0000   Min.   :0.000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.000   1st Qu.:0.0000
 Median :0.0000   Median :0.0000   Median :0.000   Median :0.0000
 Mean   :0.1582   Mean   :0.3432   Mean   :0.211   Mean   :0.3121
 3rd Qu.:0.0000   3rd Qu.:1.0000   3rd Qu.:0.000   3rd Qu.:1.0000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.000   Max.   :1.0000
 komp_interpersonalne komp_indywidualne komp_fizyczne     komp_dyspozycyjne
 Min.   :0.0000       Min.   :0.0000    Min.   :0.00000   Min.   :0.0000
 1st Qu.:0.0000       1st Qu.:0.0000    1st Qu.:0.00000   1st Qu.:0.0000
 Median :1.0000       Median :1.0000    Median :0.00000   Median :0.0000
 Mean   :0.6107       Mean   :0.6616    Mean   :0.08036   Mean   :0.2367
 3rd Qu.:1.0000       3rd Qu.:1.0000    3rd Qu.:0.00000   3rd Qu.:0.0000
 Max.   :1.0000       Max.   :1.0000    Max.   :1.00000   Max.   :1.0000
  komp_biurowe      pseudo_waga
 Min.   :0.00000   Min.   :12.04
 1st Qu.:0.00000   1st Qu.:12.04
 Median :0.00000   Median :12.04
 Mean   :0.02953   Mean   :12.04
 3rd Qu.:0.00000   3rd Qu.:12.04
 Max.   :1.00000   Max.   :12.04

Dokonujemy post-stratyfikacji

In [43]:
## musze zapewnić, że dane będą tego samego typu
head(popyt)
popyt <- popyt %>% mutate(zawod1 = as.character(zawod1))
head(popyt)

  id_popyt                                 woj waga sektor klasa pkd zawod1
1 1da98b1d90d55a45173fbf52273388d023f88bda 30  18   2      M     J   3
2 ba9c01a6d5941fb21c6d85d5abee6714d5636ee4 10   1   2      D     C   8
3 772ab1f561648f4125d0432456225d74a083b5bb 22  33   2      M     I   5
4 af0b53b2f75d7edf652af5e3f65553641f1f587a 14   1   2      D     Q   4
5 ab7c3795293f57e4d68f8638878f0a9278e3936a 30   1   1      D     C   7
6 fd8b0d69ae13f2d1baee41f0f69a7da82be04137 10   1   1      S     G   2
  wakaty
1  1
2 10
3  5
4  3
5  6
6  1

  id_popyt                                 woj waga sektor klasa pkd zawod1
1 1da98b1d90d55a45173fbf52273388d023f88bda 30  18   2      M     J   3
2 ba9c01a6d5941fb21c6d85d5abee6714d5636ee4 10   1   2      D     C   8
3 772ab1f561648f4125d0432456225d74a083b5bb 22  33   2      M     I   5
4 af0b53b2f75d7edf652af5e3f65553641f1f587a 14   1   2      D     Q   4
5 ab7c3795293f57e4d68f8638878f0a9278e3936a 30   1   1      D     C   7
6 fd8b0d69ae13f2d1baee41f0f69a7da82be04137 10   1   1      S     G   2
  wakaty
1  1
2 10
3  5
4  3
5  6
6  1

Tworzymy dane wejściowe do post-stratyfikacji

In [44]:
tab_pop_zawod1 <- xtabs(waga*wakaty ~ zawod1, data=popyt) # suma ważona po jednej zmiennej (zawod1)
tab_pop_zawod1 # tabela z wartościami globalnymi
# dla zawodu 1 było 3178 ofert pracy w badaniu popytu na pracę

zawod1
    1     2     3     4     5     7     8     9
 3178 21932  8825 14839 17309 49283 25872 14135

In [47]:
bkl_surv_ps <- postStratify(design = bkl_surv, strata = ~zawod1, population = tab_pop_zawod1)
bkl_surv_ps

Independent Sampling design (with replacement)
postStratify(design = bkl_surv, strata = ~zawod1, population = tab_pop_zawod1)

In [49]:
svymean(~komp_komputerowe + komp_interpersonalne, design = bkl_surv) # wynik przed stratyfikacją
svymean(~komp_komputerowe + komp_interpersonalne, design = bkl_surv_ps) # wynik po stratyfikacji
## 0.34 --> 0.20 po uwzględnieniu różnić w strukturze zawodów w badaniu bkl i badaniu Popyt na pracę GUS

                        mean     SE
komp_komputerowe     0.34323 0.0042
komp_interpersonalne 0.61066 0.0043

                        mean     SE
komp_komputerowe     0.20432 0.0044
komp_interpersonalne 0.34320 0.0061

In [51]:
bkl$pseudo_waga_ps <- weights(bkl_surv_ps)
head(bkl)
sum(bkl$pseudo_waga_ps) # 155373

      id     zawod1 zawod2 zawod6 woj pkd komp_techniczne komp_matematyczne
42425 626307 5      51     514202 04  M   0               0
42426 626305 5      51     514204 12  M   0               0
42427 617154 7      71     713104 14  C   0               0
42428 617155 7      71     713100 14  C   0               0
42429 632044 3      33     332203 24  C   0               0
42430 613019 3      33     332101 14  K   0               0
      komp_kulturalne komp_komputerowe komp_kognitywne komp_kierownicze
42425 1               0                0               0
42426 0               0                0               0
42427 0               0                0               0
42428 0               0                0               0
42429 0               0                0               0
42430 0               0                0               0
      komp_interpersonalne komp_indywidualne komp_fizyczne komp_dyspozycyjne
42425 0                    1                 0             0
42426 0                    0                 0             0
42427 0                    0                 0             0
42428 0                    0                 0             0
42429 1                    0                 1             0
42430 1                    1                 0             0
      komp_biurowe pseudo_waga pseudo_waga_ps
42425 0            12.04069     5.188549
42426 0            12.04069     5.188549
42427 0            12.04069    66.869742
42428 0            12.04069    66.869742
42429 0            12.04069     3.121684
42430 0            12.04069     3.121684

[1] 155373

## Kalibracja

Do kalibracji użyjemy trzy zmienne: `pkd` , `zawod1` oraz `woj`

In [53]:
tab_pop_pkd <- xtabs(waga*wakaty ~ pkd, data=popyt)
tab_pop_woj <- xtabs(waga*wakaty ~ woj, data=popyt)
tab_pop_pkd
tab_pop_zawod1
tab_pop_woj

pkd
    A     B     C     D     E     F     G     H     I     J     K     L     M
  488   255 36965   509  1128 23386 34849 12331  6751  6214  2584  1531  7300
    N     O     P     Q     R     S
 4828  5434  2013  5339   779  2689

zawod1
    1     2     3     4     5     7     8     9
 3178 21932  8825 14839 17309 49283 25872 14135

woj
   02    04    06    08    10    12    14    16    18    20    22    24    26
13725 13032  4358  2906  7957 18663 30555  2391  4888  1789 10573 16881  2073
   28    30    32
 3428 16805  5349

Dokonujemy klibracji w wykorzystaniem funkcji `calibrate`

In [59]:
bkl_surv_cal <- calibrate(design = bkl_surv,
                formula = list(~zawod1, ~woj), 
                population = list(tab_pop_zawod1, tab_pop_woj))
bkl_surv_cal
bkl$pseudo_waga_cal <- weights(bkl_surv_cal)
head(bkl)

Independent Sampling design (with replacement)
calibrate(design = bkl_surv, formula = list(~zawod1, ~woj), population = list(tab_pop_zawod1,
    tab_pop_woj))

      id     zawod1 zawod2 zawod6 woj pkd komp_techniczne komp_matematyczne
42425 626307 5      51     514202 04  M   0               0
42426 626305 5      51     514204 12  M   0               0
42427 617154 7      71     713104 14  C   0               0
42428 617155 7      71     713100 14  C   0               0
42429 632044 3      33     332203 24  C   0               0
42430 613019 3      33     332101 14  K   0               0
      komp_kulturalne komp_komputerowe komp_kognitywne komp_kierownicze
42425 1               0                0               0
42426 0               0                0               0
42427 0               0                0               0
42428 0               0                0               0
42429 0               0                0               0
42430 0               0                0               0
      komp_interpersonalne komp_indywidualne komp_fizyczne komp_dyspozycyjne
42425 0                    1                 0             0
42426 0                    0                 0             0
42427 0                    0                 0             0
42428 0                    0                 0             0
42429 1                    0                 1             0
42430 1                    1                 0             0
      komp_biurowe pseudo_waga pseudo_waga_ps pseudo_waga_cal
42425 0            12.04069     5.188549      11.207997
42426 0            12.04069     5.188549       8.924961
42427 0            12.04069    66.869742      69.958450
42428 0            12.04069    66.869742      69.958450
42429 0            12.04069     3.121684       2.348824
42430 0            12.04069     3.121684       6.099183

Porównujemy wynikimi trzech estymatorów: + naiwnego, + postratyfikacyjnego i kalibracyjnego

In [60]:
svymean(~komp_komputerowe + komp_interpersonalne, design = bkl_surv) # wynik przed stratyfikacją
svymean(~komp_komputerowe + komp_interpersonalne, design = bkl_surv_ps)
svymean(~komp_komputerowe + komp_interpersonalne, design = bkl_surv_cal) # wychodzi na to, że wojewodztwo niewiele nam wnosi

                        mean     SE
komp_komputerowe     0.34323 0.0042
komp_interpersonalne 0.61066 0.0043

                        mean     SE
komp_komputerowe     0.20432 0.0044
komp_interpersonalne 0.34320 0.0061

                        mean     SE
komp_komputerowe     0.20764 0.0046
komp_interpersonalne 0.34169 0.0062

Podsumowanie:
1. aby skorygować wyniki z próby nielosowej należy poszukać jakiegoś zewnętrzengo (do próby nielosowej) źródła danych, np. spis, rejestry administracyjne, próby losowe;
2. trzeba sprawdzić jakie zmienne $X$ (demograficzna i inne charakterystyki) korelują z przynależnością do próby nielosowej (oznaczone jako R/delta) i zmiennej celu ($Y$) --> im lepsza (wyższa) korelacja tym wykorzystanie tych zmiennych powinno zmniejszyć obciążenie.
3. dobór zmiennych jest kluczowy --> w szczegółach będzie o tym jutro
4. trzeba ujednolicić zmienne (aby w obu zbiorach były takie same)
5. wybór metody: post-stratyfikacja czy kalibracja? Warto wybrać kalibrację z racji tego, że jest ona bardziej elastyczna choć wymaga oprogramowania
6. przeprowadzenie estymacji z wykorzystaniem wag, które uzyskamy z kroku 5

In [62]:
weighted.mean(bkl$komp_interpersonalne, bkl$pseudo_waga)
weighted.mean(bkl$komp_interpersonalne, bkl$pseudo_waga_cal)
weighted.mean(bkl$komp_interpersonalne, bkl$pseudo_waga_ps)

[1] 0.6106634

[1] 0.3416862

[1] 0.3432004

In [63]:
weighted.mean(bkl$komp_techniczne, bkl$pseudo_waga)
weighted.mean(bkl$komp_techniczne, bkl$pseudo_waga_cal)
weighted.mean(bkl$komp_techniczne, bkl$pseudo_waga_ps)

[1] 0.04440484

[1] 0.1042676

[1] 0.1042938